body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: #2a0015;
  color: #ff4d6d;
  text-align: center;
}

section {
  padding: 40px 20px;
}

.polaroid {
  background: white;
  padding: 10px;
  border-radius: 15px;
  width: 260px;
  margin: auto;
}

.polaroid img {
  width: 100%;
  border-radius: 10px;
  animation: zoom 12s infinite alternate;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.2); }
}

.video-section video {
  width: 90%;
  border-radius: 20px;
  transition: opacity 1s;
}

.hearts span {
  position: fixed;
  bottom: -10px;
  animation: float 8s linear infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  100% { transform: translateY(-120vh); }
}

.night {
  background: black;
  color: #ff4d6d;
}
