body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#1a0005, #40000f);
  color: #ffccd5;
  text-align: center;
  overflow-x: hidden;
}

#tapScreen {
  position: fixed;
  inset: 0;
  background: #1a0005;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

#tapScreen p {
  font-size: 22px;
  color: #ff4d6d;
}

section {
  padding: 50px 20px;
}

h1, h2 {
  color: #ff4d6d;
}

.counter p {
  font-size: 18px;
  color: #ffb3c6;
}

.photos {
  max-width: 100%;
}

.photo-block {
  margin: 40px auto;
  max-width: 90%;
}

.photo-block img {
  width: 100%;
  max-width: 360px;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 18px;
  box-shadow: 0 0 25px #ff4d6d;
}

.photo-block p {
  margin-top: 12px;
  font-size: 15px;
  line-height: 1.6;
  color: #ffb3c6;
}

.letter p {
  max-width: 600px;
  margin: 20px auto;
  line-height: 1.8;
}

.end {
  padding-bottom: 100px;
}

#hearts span {
  position: fixed;
  top: -10px;
  color: pink;
  font-size: 18px;
  animation: fall linear infinite;
}

@keyframes fall {
  to {
    transform: translateY(100vh);
  }
}
