body {
  margin: 0;
  font-family: "Courier New", monospace;
  background: radial-gradient(#2b0000, #000);
  color: #ff4d6d;
  text-align: center;
  overflow-x: hidden;
}

#lockScreen {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#lockScreen input {
  padding:10px;
  border-radius:8px;
  border:none;
}

#lockScreen button {
  margin-top:10px;
  padding:10px 20px;
  background:#ff1a4d;
  color:white;
  border:none;
  border-radius:10px;
}

section {
  padding: 60px 20px;
}

.gallery {
  display: flex;
  overflow-x: auto;
  gap: 15px;
  padding: 20px;
}

.gallery img {
  height: 280px;
  border-radius: 12px;
  box-shadow: 0 0 20px #ff4d6d;
  animation: zoom 12s infinite alternate;
}

figcaption {
  color:#ff99aa;
  font-size:14px;
  margin-top:5px;
}

@keyframes zoom {
  from { transform: scale(1); }
  to { transform: scale(1.15); }
}

.hearts span {
  position: fixed;
  top: -50px;
  animation: fall linear infinite;
}

@keyframes fall {
  to { transform: translateY(110vh); }
}

canvas {
  width:100%;
  height:300px;
}
