body {
  background: #fff0f5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1, h2 {
  color: #ff5fa2;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

input, button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  width: 80%;
}

button {
  background: #ff5fa2;
  color: white;
  font-size: 16px;
}

.nav-btn {
  display: block;
  margin: 20px auto;
  padding: 12px;
  width: 80%;
  background: #ff5fa2;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}
img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
  object-fit: contain;
  background: black;
}

video {
  width: 100%;
  max-height: 80vh;
  border-radius: 15px;
  margin-bottom: 20px;
  background: black;
  object-fit: contain;
}

/* Heart animation */
.heart {
  position: fixed;
  color: pink;
  font-size: 20px;
  animation: float 6s linear infinite;
}

@keyframes float {
  0% { transform: translateY(100vh); opacity: 1; }
  100% { transform: translateY(-10vh); opacity: 0; }
}

/* Slideshow */
.slideshow img {
  display: none;
}

.slideshow img.active {
  display: block;
}
